@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e7c553;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Poppins';
}

#app {
  background-color: white;
  padding: 30px 40px;
  border-radius: 15px;
}

h1 {
  font-weight:500;
}

.congrat {
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}

.button {
  margin-top:10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.choise {
  width: 65px;
  height: 35px;
  font-weight: 600;
  border: 3px solid black;
  border-radius: 5px;
  font-size: 15px;
  padding: 5px;
  transition: 200ms ease-out;
}

.choise:hover {
  width: 75px;
  height: 45px;
}

.stat {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
}

.stat span {
  font-weight: 400;
}

.right {
  text-align: end;
  margin-bottom: 10px;
  font-weight: 600;
}

.right span {
  font-weight: 400;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

.board {
  display: grid;
  grid-template-columns: 75px 75px 75px 75px;
  gap: 7px;
  transform: rotateY(180deg);
}

.card {
  position: relative;
  width: 75px;
  height: 75px;
  cursor: pointer;
  transition: 0.7s ease-in-out;
  transform-style: preserve-3d;
}

.front, .back {
  position: absolute;
  width: 75px;
  height: 75px;
  border: 3px solid black;
  border-radius: 10px;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.front {
  background-color: #F4C531;
}

.back {
  transform: rotateY(0.5turn);
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number {
  transform: scale(-1, 1);
}

.bot {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bot p {
  font-size: 14px;
}


button {
  border-radius: 7px;
  border: none;
  color: white;
  background-color: black;
  margin-top: 20px;
  padding: 15px 20px;
  font-size: 13px;
  cursor: pointer;
}

article {
  padding: 15px 30px;
  background-color:#F4C531;
  border-radius: 10px;
  margin-top: 20px;
  filter: drop-shadow(0 0 0.75rem rgb(255, 244, 142));
}

.podium {
  display: flex;
}

article:nth-child(1){
  margin-right: 20px;
}